<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home | Form Validation API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./style.css'>
</head>

<body>
    <header>
        <h3>Form Validation API</h3>
        <div>
            <a href="/" class="active">Home</a>
            <a href="/projects">Projects</a>
        </div>
    </header>
    <main>
        <h1>Form Validation API</h1>
        <p>Form Validation API can be used to validate forms consisting of <span>username</span>, <span>email</span>, <span>password</span> and <span>password_confirmation</span>, this API has been created by <a
                class="link" target="_blank" href="https://www.linkedin.com/in/ahmed0saber/">ahmed0saber</a>, click the
            below button to view projects created with the help of Flowers API.</p>
        <a class="btn" href="/projects">View Projects</a>
    </main>
    <span class="separator"></span>
    <section>
        <h2>Usage</h2>
        <p>To validate your form, send a <span>POST</span> request with body consisting of <span>username</span>, <span>email</span>, <span>password</span> and <span>password_confirmation</span> to <span>/validate</span> endpoint.</p>
    </section>
</body>

</html>