<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Projects | Form Validation API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./style.css'>
</head>

<body>
    <header>
        <h3>Form Validation API</h3>
        <div>
            <a href="/">Home</a>
            <a href="/projects" class="active">Projects</a>
        </div>
    </header>
    <main>
        <h1>Projects</h1>
        <p>Here you can view all projects created with the help of Form Validation API.</p>
    </main>
    <span class="separator"></span>
    <section>
        <h2>There is no projects</h2>
        <p>Be the first one to add your project by contacting <a class="link" target="_blank"
                href="https://www.linkedin.com/in/ahmed0saber/">ahmed0saber</a> and sending him your project.</p>
    </section>
</body>

</html>